.Rproj.user
.Rhistory
.RData
.Ruserdata
*.FT1
*.FT2
*.sip
*.tar
*.gz
*.csv
*.tgz
*.zip
*.rds
*.txt
*.xlsx
*.fna
*.fasta
*.gff
*.faa
*.tsv
*.xml
*.binary
*.raw
/GWAS/prsiceDemo/*
*.DS_Store
*.xz
*.o

# For cmake
build/
bin/

*.cfg
*.dll
