.analysis_project_id Ga0207967
.domain *Microbiome
.family Sediment
.genome_size 162821
.genome_type metagenome
.img_ec_flag Yes
.img_handler img.dataLoad9@gpint212
.img_product_flag Yes
.ir_class Aquatic
.ir_order Freshwater
.is_public No
.its_ap_id 1164482
.jgi_project_id 1056052
.jgi_species_code Ga0207967
.mol_topology linear
.phylum Environmental
.proposal_name Freshwater sediment methanotrophic microbial communities from Lake Washington under simulated oxygen tension
.seq_coverage_file /global/dna/dm_archive/pkmeco/analyses/AUTO-155239/reads.v.final.contigs.sorted.bam.cov
.seq_status Permanent Draft
.submission_date 2018-04-06 17:56:07
.submission_id 183866
.taxon_name Freshwater sediment methanotrophic microbial communities from Lake Washington under simulated oxygen tension - Sediment Metagenome 20_HOW5 (SPAdes)
.username tglavina
